extends ../layout

block content 
  h1 タスクの新規作成

  form(action!=`/teams/${team.id}/tasks`, method='post')
    _csrf
    _method=method
    
    div
      label(for="title") タイトル
      input#title(name="title", value!=task.title)
    div  
      label(for="body") 内容
      textarea#body(name="body")=task.body
    div 
      label(for="assigneeId") 担当者
      select#assigneeId(name="assigneeId")
        option(value="", selected=!task.assigneeId) なし
        each member in members
          option(value=member.user.id, selected=member.user.id === task.assigneeId)= member.user.displayName
    div
      input(type="submit")