extends ../layout

block content 
  h1 タスクの編集

  form(action=`/teams/${team.id}/tasks/${task.id}`, method="post")
    _csrf
    _method put

    div
      label(for="title") タイトル
      input(name="title", value!=task.title)
    div  
      label(for="body") 内容
      textarea(name="body")=task.body
    div
      input(type="submit")